@font-face {
    font-family: "pokemon1";
    src: url("../fonts/POKPIX1.TTF");
}

@font-face {
    font-family: "pokemon2";
    src: url("../fonts/POKPIX2.TTF");
}

@font-face {
    font-family: "pokemon3";
    src: url("../fonts/POKPIX3.TTF");
}

#signInSection
{
    display: block;
}

#loginError
{
    color: red;
    display: none;
}

#newMember
{
    display: none;
}

.invalidMessage
{
    color: red;
    display: none;
}

#suggestionArea
{
    display: none;
}

#pokemon
{
    display: none;
}

#pokeGrid
{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}

.pokeItem
{
    justify-content: center;
}

.pokeImage1
{
    font-family: "pokemon1";
    font-size: 0.5em;
}

.pokeImage2
{
    font-family: "pokemon2";
    font-size: 0.5em;
}

.pokeImage3
{
    font-family: "pokemon3";
    font-size: 0.5em;
}

#invalidPokemon
{
    color:red;
    display: none;
}

#validPokemon
{
    display: none;
}

#bloodType
{
    display: none;
}

#bloodError
{
    color: red;
}

#buttonPush
{
    display: none;

}

#buttonPushArea
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    justify-items: left;
    align-items: top;
    background-color: azure;
    min-height: 50vh;
}

#buttonPushActual
{
    width: 100px;
    height: 100px;
    padding-left: 0px;
    padding-top: 0px;
}

#tasksCompleted
{
    display: none;
}

#spoilers
{
    display: none;
}